<%- include('./partials/head', {title: "Profile"}); %>

<div class="mx-auto max-w-3xl px-4 sm:px-6 lg:max-w-7xl lg:px-8 mt-8">
    <div class="w-full">
        <section>
            <div class="overflow-hidden rounded-lg bg-white shadow">
                <div class="p-6">
                    <p>Name: <%= name %></p>
                    <p>E-mail: <%= email %></p>
                </div>
            </div>
        </section>
    </div>
</div>


<%- include('./partials/footer'); %>